.esri-interactive,
.esri-attribution__powered-by {
  display: none;
}
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.scrollSection {
  overflow: scroll;
  width: inherit;
  height: 300px;
  overflow-x: hidden;
  padding: 0.3em;
}
#sketchVM-controls {
  width: 100%;
  height: 200px;
}
#headingBlock {
  padding-right: 2em;
}
#measurements {
  padding: 4px 8px;
  font-size: 16px;
  display: none;
  bottom: 15px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
